/* Polices d'affichage "Matchday", hébergées en local (aucune requête réseau au
   runtime). Anton pour le très gros titre du hero (droit, esprit affiche). Saira
   italique pour les chiffres condensés façon numéro de maillot. Le texte courant
   reste en pile système (voir --sans dans tokens.css). Licences OFL : OFL-Anton.txt,
   OFL-Saira.txt. */

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/anton.woff2') format('woff2');
}

@font-face {
  font-family: 'Saira';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/saira-italic.woff2') format('woff2');
}
