/* Polices d'affichage "Matchday", hébergées en local (aucune requête réseau au
   runtime). Archivo Black pour le très gros titre du hero (grotesque noir, moderne).
   Saira italique pour les chiffres condensés façon numéro de maillot. Le texte
   courant reste en pile système (voir --sans dans tokens.css). Licences OFL :
   OFL-ArchivoBlack.txt, OFL-Saira.txt. */

@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/archivo-black.woff2') format('woff2');
}

@font-face {
  font-family: 'Saira';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/saira-italic.woff2') format('woff2');
}
